/* Fuentes  */
@font-face {
    font-family: "raymoon";
    src: url("../assets/fonts/Ramyoon.ttf");
}

@font-face {
    font-family: "Cream-cake";
    src: url("../assets/fonts/cream-cake.otf");
}




/* INICIO --------------------------------------------------------------------------------------------------------*/

#logo {
    font-family: "raymoon";
    font-size: 50px;
    color: blanchedalmond;
    text-align: center;
}

.titulo {
    font-family: "Cream-cake";
    font-size: 168px;
    color: #ba3d3d;
}

 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

#body-background {
    background-image: url('../images/inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000;

}

.contenedor {
    background-color: rgba(244, 232, 215, 0.695);
    height: 75vh;
    margin: 15%;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #2c0404;
    
}

.contenedor:hover{
   
    transform: scale(1.1);
}

#logo1{
    border-radius: 10px;
}
.head {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #a93232ec;
    width: 100%;
    z-index: 100;
}


.navbar {
    display: flex;
    background-color: #d34b4bd6 !important ;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
   color: white
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: black;
    background-color: #ba3d3d;
    border:  rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: var(--bs-navbar-toggler-transition);
}



.bg-body-tertiary {
    --bs-bg-opacity: 1;

}



.dropdown-menu {
    
    --bs-dropdown-color: rgba(255, 255, 255, 0.784);
    --bs-dropdown-bg: #f67c7c;
    --bs-dropdown-border-color: rgb(49, 6, 29);
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #000000;
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: #972323;
    
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    /* margin-right: auto; */
    margin-left: 30px;
}

.navbar a{
    
    padding: 18px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar ul li{
    display: inline-block;
}

.navbar a:hover {
    background: rgba(189, 43, 43, 0.906);
}

/* media queries */
@media(max-width:1440px){
    .parrafo{
        font-size: 1rem;
    }


}




@media(max-width:1023px){
    .titulo {
        font-family: "Cream-cake";
        font-size: 130px;
        color: #ba3d3d;
    }

    .parrafo{
        font-size: 18px;
    } 
    

}

    
@media(max-width:768px){
    .titulo {
        font-family: "Cream-cake";
        font-size: 100px;
        color: #ba3d3d;
    }

    #logo {
        font-family: "raymoon";
        font-size: 40px;
        color: blanchedalmond;
        text-align: center;
    }
.parrafo{
    font-size: 1rem;
}

}

    
    
@media(max-width:530px){
    .contenedor {
        height: 75vh;
        margin: 15%;
        text-align: center;
        font-size: 25px;
        
    }
    
    .titulo {
        font-family: "Cream-cake";
        font-size: 80px;
        color: #ba3d3d;
    }

    #logo {
        font-family: "raymoon";
        font-size: 45px;
        color: blanchedalmond;
        text-align: center;
    }

 
}

@media(max-width:425px){
    .titulo {
        font-family: "Cream-cake";
        font-size: 60px;
        color: #ba3d3d;
    }
    
    .navbar a{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 10px;
        
    }

   

     
    #logo {
        font-family: "raymoon";
        font-size: 30px;
        color: blanchedalmond;
        text-align: center;
    }


    main{

        .historia{

            font-size: 80px;
        }
        .parrafo{
            font-size: 12px;
        }
    }


}


@media(max-width:320px){

    header{
        .titulo {
            font-family: "Cream-cake";
            font-size: 5px;
            color: #ba3d3d;
        }
        .navbar a{
    
           
            text-transform: uppercase;
            font-size: 9px;
            color: #ffffff;
            
        }

    }
    footer{

        .instagram a{
            color:#fffcfc;
            font-size: 15px;
        
        }

        
        #telefono{
            color: #ffffff;
            font-size: 15px;
        }
    }


}
   
/* ----------------------------------------------------------------------------------- */


.footer-index{
    position: absolute;
}

footer h2{
    background-color:rgb(189, 43, 43);
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 2px;
}

footer{
    background-color: rgb(189, 43, 43);
    padding: 40px;
    width: 100%; 
    
    
}
footer ul{
    display: flex;
    justify-content: space-around;
}




.instagram a{
    color:#ffffff;
    font-size: 20px;
    text-decoration: none;
}

.instagram:hover{
    transform: scale(1.1);
    color: #ffffff;
}

#telefono{
    color: #ffffff;
    font-size: 20px;
}



/* --------------------------------------------------------------------------------------- */
/* Nosotros */



#body-background2 {
    background-image: url('../images/preparacion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   

}


.historia {
    font-family: "Cream-cake";
    font-size: 168px;
    color: #ba3d3d;
    margin-bottom: 30px; 
    
}

.contenedor2{
    background-color: rgba(244, 232, 215, 0.663);
    height: 100;
    padding: 15%;
    border-radius: 2%;
    border: 30px;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 2rem;
    color: #550505;

}


/* ----------------------------------------------------------------------------------------------------------- */

/* PLATOS */

#body-background3{
    background-color: #441717
}

.cartas{
    width: 80%;
    margin: 30px 20px 30px 40px;
    height: 80%;

  
}




/* ----------------------------------------- */

/* Postres */
#body-background4{
     background-color: #c07676
} 
 






/* ------------------------------------------------------------------------------ */


/* SUGERENCIAS */


#body-background5 {
    font-family: Arial, sans-serif;
    background-color: #bea6a6;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FF0000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffcacab2;
    border: 1px solid #FF0000;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #FF0000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FF0000;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #FF0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #CC0000;
}

/* Estilos para pantallas pequeñas (hasta 600px) */
@media screen and (max-width: 600px) {
    form {
        max-width: 90%;
    }
}

/* Estilos para pantallas extra pequeñas (hasta 320px) */
@media screen and (max-width: 425px) {
    form {
        max-width: 100%;
        padding: 10px;
    }
    input[type="submit"] {
        margin-top: 10px;
    }
}
@media screen and (max-width: 370px) {
    form {
        max-width: 40%;
    }


}

/* Estilos para pantallas extra pequeñas (hasta 320px) */
@media screen and (max-width: 425px) {
    form {
        max-width: 100%;
        padding: 10px;
    }
    input[type="submit"] {
        margin-top: 10px;
    }
}

.footer-index-s{
    footer{
        background-color: rgb(189, 43, 43);
        padding: 40px;
        bottom: 0;
        width: 100%; 
        
        
    }

}
    








    