#logo {
  font-family: "raymoon";
  font-size: 50px;
  color: blanchedalmond;
  text-align: center;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: rgba(169, 50, 50, 0.9254901961);
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  background-color: rgba(211, 75, 75, 0.8392156863) !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: black;
  background-color: #ba3d3d;
  border: rgba(0, 0, 0, 0);
  border-radius: 8px;
  transition: var(--bs-navbar-toggler-transition);
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
}

.dropdown-menu {
  --bs-dropdown-color: rgba(255, 255, 255, 0.784);
  --bs-dropdown-bg: #f67c7c;
  --bs-dropdown-border-color: rgb(49, 6, 29);
  --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-dropdown-link-color: #000000;
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: #972323;
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-left: 30px;
}

.navbar a {
  padding: 18px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar ul li {
  display: inline-block;
}

.navbar a:hover {
  background: rgba(189, 43, 43, 0.906);
}

.cartas {
  width: 80%;
  margin: 30px 20px 30px 40px;
  height: 80%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

footer h2 {
  background-color: rgb(189, 43, 43);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 2px;
}

footer {
  background-color: rgb(189, 43, 43);
  padding: 40px;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

.instagram a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.instagram:hover {
  transform: scale(1.1);
  color: white;
}

#telefono {
  color: white;
  font-size: 20px;
}

#body-background {
  background-image: url("../images/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
}

.titulo {
  font-family: "Cream-cake";
  font-size: 168px;
  color: #ba3d3d;
}

.contenedor {
  background-color: rgba(244, 232, 215, 0.695);
  height: 75vh;
  margin: 15%;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #2c0404;
}

.contenedor:hover {
  transform: scale(1.1);
}

.footer-index {
  position: absolute;
}

#body-background2 {
  background-image: url("/images/preparacion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.historia {
  font-family: "Cream-cake";
  font-size: 168px;
  color: #ba3d3d;
  margin-bottom: 30px;
}

.contenedor2 {
  background-color: rgba(244, 232, 215, 0.663);
  height: 100;
  padding: 15%;
  border: 30px;
  text-align: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2rem;
  color: #550505;
}

#body-background3 {
  background-color: #441717;
}

#body-background4 {
  background-color: #c07676;
}

#body-background5 {
  background-color: rgb(248, 183, 183);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  grid-template-areas: "header1 header1 header1" " . form1 ." "footer1 footer1 footer1";
}

.header1 {
  grid-area: header1;
}

.formulario {
  grid-area: form1;
  background-color: rgba(250, 215, 215, 0.608);
  margin: auto;
  width: 90%;
  max-width: 500px;
  height: 67vh;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.446);
  text-align: center;
  position: fixed;
  margin: 10px;
  margin-left: 700px;
}

.formulario-titulo {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.formulario-parrafo {
  font-weight: 300;
}

.formulario-link {
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.formulario-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.formulario-grupo {
  position: relative;
  color: rgb(4, 4, 4);
}

.formulario-input {
  width: 100%;
  background: none;
  color: #000000;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  border-radius: 10px;
  outline: none;
  border-bottom: 1px rgb(95, 0, 2);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.formulario-input:focus + .formulario-label {
  transform: translate(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(0, 0, 0);
}

.formulario-label {
  color: rgba(95, 94, 94, 0.0745098039);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: trasnform 0.5s, color 0.3s;
}

.formulario-submit {
  background-color: rgba(242, 238, 238, 0.724);
  color: #fff;
  font-family: "Gill Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}

.formulario-linea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(235, 60, 69);
}

.footer-index-s {
  grid-area: footer1;
}

/* media queries */
@media (max-width: 1440px) {
  .parrafo {
    font-size: 1rem;
  }
}
@media (max-width: 1023px) {
  .titulo {
    font-family: "Cream-cake";
    font-size: 130px;
    color: #ba3d3d;
  }
  .parrafo {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .titulo {
    font-family: "Cream-cake";
    font-size: 100px;
    color: #ba3d3d;
  }
  #logo {
    font-family: "raymoon";
    font-size: 40px;
    color: blanchedalmond;
    text-align: center;
  }
  .parrafo {
    font-size: 1rem;
  }
}
@media (max-width: 530px) {
  .contenedor {
    height: 75vh;
    margin: 15%;
    text-align: center;
    font-size: 25px;
  }
  .titulo {
    font-family: "Cream-cake";
    font-size: 80px;
    color: #ba3d3d;
  }
  #logo {
    font-family: "raymoon";
    font-size: 45px;
    color: blanchedalmond;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .titulo {
    font-family: "Cream-cake";
    font-size: 60px;
    color: #ba3d3d;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 10px;
  }
  #logo {
    font-family: "raymoon";
    font-size: 30px;
    color: blanchedalmond;
    text-align: center;
  }
  .historia {
    font-size: 80px;
  }
  .parrafo {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  header .titulo {
    font-family: "Cream-cake";
    font-size: 5px;
    color: #ba3d3d;
  }
  header .navbar a {
    text-transform: uppercase;
    font-size: 9px;
    color: #ffffff;
  }
  footer .instagram a {
    color: #fffcfc;
    font-size: 15px;
  }
  footer #telefono {
    color: #ffffff;
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .historia {
    font-size: 60px;
    margin-bottom: 30px;
  }
  .contenedor2 {
    background-color: rgba(244, 232, 215, 0.663);
    height: 100;
    padding: 15%;
    border: 30px;
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  .formulario {
    margin-left: 380px;
  }
}
@media (max-width: 768px) {
  .formulario {
    margin-left: 240px;
  }
}
@media (max-width: 425px) {
  .formulario-titulo {
    font-size: 1.5rem;
  }
  .formulario {
    margin-left: 80px;
  }
}
@media (max-width: 375px) {
  .formulario-titulo {
    font-size: 1rem;
  }
  .formulario {
    margin-left: 35px;
  }
}
@media (max-width: 320px) {
  .formulario-titulo {
    font-size: 1rem;
  }
  .formulario {
    margin-left: 15px;
  }
}
/* fuentes */
@font-face {
  font-family: "raymoon";
  src: url("../assets/fonts/Ramyoon.ttf");
}
@font-face {
  font-family: "Cream-cake";
  src: url("../assets/fonts/cream-cake.otf");
}

/*# sourceMappingURL=style.css.map */
