#body-background5{
    background-color: rgb(248, 183, 183);
    min-height: 100vh;
   
}
.header1{
grid-area: header1;
}


.section1{
    grid-area:section1;

}

.section2{
    grid-area:section2;
}

.footer-index-s{
    grid-area: footer1;
}

    .footer-index-s{
        grid-area: footer1;
    }


    