#body-background5{
    background-color: rgb(248, 183, 183);
    min-height: 100vh;
    display: grid;
  /* grid-template-columns: 0.5fr 2fr 0.5fr;  */
    grid-template-rows: 0.5fr 3fr 0.5fr; 
    grid-template-areas: 
    "header1 header1 header1"
    " . form1 ."
    "footer1 footer1 footer1";
}
.header1{
grid-area: header1;
}


.sug{
    grid-area: form1;
}

.footer-index-s{
    grid-area: footer1;
}

/* .formulario{
    grid-area: form1;
    background-color: rgba(250, 215, 215, 0.608);
    margin:auto;
    width: 90%;
    max-width: 500px;
    height: 67vh;
    padding:4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.446);
    text-align: center;
    position: fixed;
    margin:10px;
    margin-left: 700px;

}

.formulario-titulo{
font-size: 2.5rem;
margin-bottom: .5em;

}

.formulario-parrafo{
font-weight: 300;


}

.formulario-link{
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.formulario-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;

}

.formulario-grupo{
    position: relative;
    color:rgb(4, 4, 4);


}

.formulario-input{
    width: 100%;
    background:none;
    color: #000000;
    font-size: 1rem;
    padding: .6em .3em;
    border:none ;
    border-radius: 10px;
    outline: none;
    border-bottom: 1px rgb(95, 0, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

.formulario-input:focus + .formulario-label{
    transform: translate(-12px) scale(.7);
    transform-origin: left top;
    color: rgb(0, 0, 0);
}

.formulario-label{
    color: #5f5e5e13;
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: trasnform .5s, color .3s;

}



.formulario-submit{
    background-color: rgba(242, 238, 238, 0.724);
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
    font-weight:300 ;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius:.5em ;



    }
    .formulario-linea{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color:rgb(235, 60, 69);

    }

    .footer-index-s{
        grid-area: footer1;
    } */